<a href="https://colab.research.google.com/github/treyra/CS155_miniproject/blob/data_visualization_v1/data_normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Normalization

In [1]:
import pandas as pd
import numpy as np

In [25]:
# Normalize prepared data
# Load data from repo
test_df = pd.read_csv('https://raw.githubusercontent.com/treyra/CS155_miniproject/data_visualization_v1/data_cleanup/testdata_imputed.csv',sep=',', header=0,index_col=0)
train_df = pd.read_csv('https://raw.githubusercontent.com/treyra/CS155_miniproject/data_visualization_v1/data_cleanup/traindata_imputed.csv',sep=',', header=0,index_col=0)
# normalize data
test_df.head()

#--- First stuff with same scales
# change state categogy 2 to -1 - states in [1,-1]
train_df['STATE']=train_df['STATE'].replace([2],-1)
test_df['STATE']=test_df['STATE'].replace([2],-1)
# lat lon in radians first
train_df['LATITUDE']=np.deg2rad(train_df['LATITUDE'])
train_df['LONGITUDE']=np.deg2rad(train_df['LONGITUDE'])
test_df['LATITUDE']=np.deg2rad(test_df['LATITUDE'])
test_df['LONGITUDE']=np.deg2rad(test_df['LONGITUDE'])
# discovery time in interval of [0,1] day
train_df['DISCOVERY_TIME']= train_df['DISCOVERY_TIME']/2400
test_df['DISCOVERY_TIME']= test_df['DISCOVERY_TIME']/2400
# day in [0,1] 
train_df['DAY']= train_df['DAY']/366
test_df['DAY']= test_df['DAY']/366
# normalize year in [0,1], where 0 is 1992 and 1 is 2010 - MinMax scaled by hand
train_df['YEAR']= (train_df['YEAR']-1992)/(2009-1992)
test_df['YEAR']= (test_df['YEAR']-1992)/(2009-1992)

#--- Now train normalizers on training dataframe
train_df_to_norm = train_df.drop(['id','STATE','DISCOVERY_TIME','DAY','YEAR','LABEL'], axis=1)
test_df_to_norm = test_df.drop(['id','STATE','DISCOVERY_TIME','DAY','YEAR'], axis=1)
#
from sklearn.preprocessing import MinMaxScaler
minmax_scaler = MinMaxScaler()
traindata_minmax = minmax_scaler.fit_transform(train_df_to_norm)
testdata_minmax = minmax_scaler.transform(test_df_to_norm)
#
from sklearn.preprocessing import RobustScaler
robust_scaler = RobustScaler()
traindata_robust = robust_scaler.fit_transform(train_df_to_norm)
testdata_robust = robust_scaler.transform(test_df_to_norm)
#
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
traindata_standard = scaler.fit_transform(train_df_to_norm)
testdata_standard = scaler.transform(test_df_to_norm)
#
# Now put back into the dataframes where it belongs
traindata_normalized_minmax = train_df.copy()
traindata_normalized_minmax['LATITUDE']=traindata_minmax[:,0]
traindata_normalized_minmax['LONGITUDE']=traindata_minmax[:,1]
traindata_normalized_minmax['FIRE_SIZE']=traindata_minmax[:,2]
traindata_normalized_minmax['FIPS_NAME']=traindata_minmax[:,3]
traindata_normalized_minmax['FIPS_CODE']=traindata_minmax[:,4]
traindata_normalized_minmax['SOURCE_REPORTING_UNIT_NAME']=traindata_minmax[:,5]
#
traindata_normalized_robust = train_df.copy()
traindata_normalized_robust['LATITUDE']=traindata_robust[:,0]
traindata_normalized_robust['LONGITUDE']=traindata_robust[:,1]
traindata_normalized_robust['FIRE_SIZE']=traindata_robust[:,2]
traindata_normalized_robust['FIPS_NAME']=traindata_robust[:,3]
traindata_normalized_robust['FIPS_CODE']=traindata_robust[:,4]
traindata_normalized_robust['SOURCE_REPORTING_UNIT_NAME']=traindata_robust[:,5]

traindata_normalized_standard = train_df.copy()
traindata_normalized_standard['LATITUDE']=traindata_standard[:,0]
traindata_normalized_standard['LONGITUDE']=traindata_standard[:,1]
traindata_normalized_standard['FIRE_SIZE']=traindata_standard[:,2]
traindata_normalized_standard['FIPS_NAME']=traindata_standard[:,3]
traindata_normalized_standard['FIPS_CODE']=traindata_standard[:,4]
traindata_normalized_standard['SOURCE_REPORTING_UNIT_NAME']=traindata_standard[:,5]
# testdata
testdata_normalized_minmax = test_df.copy()
testdata_normalized_minmax['LATITUDE']=testdata_minmax[:,0]
testdata_normalized_minmax['LONGITUDE']=testdata_minmax[:,1]
testdata_normalized_minmax['FIRE_SIZE']=testdata_minmax[:,2]
testdata_normalized_minmax['FIPS_NAME']=testdata_minmax[:,3]
testdata_normalized_minmax['FIPS_CODE']=testdata_minmax[:,4]
testdata_normalized_minmax['SOURCE_REPORTING_UNIT_NAME']=testdata_minmax[:,5]
#
testdata_normalized_robust = test_df.copy()
testdata_normalized_robust['LATITUDE']=testdata_robust[:,0]
testdata_normalized_robust['LONGITUDE']=testdata_robust[:,1]
testdata_normalized_robust['FIRE_SIZE']=testdata_robust[:,2]
testdata_normalized_robust['FIPS_NAME']=testdata_robust[:,3]
testdata_normalized_robust['FIPS_CODE']=testdata_robust[:,4]
testdata_normalized_robust['SOURCE_REPORTING_UNIT_NAME']=testdata_robust[:,5]
#
testdata_normalized_standard = test_df.copy()
testdata_normalized_standard['LATITUDE']=testdata_standard[:,0]
testdata_normalized_standard['LONGITUDE']=testdata_standard[:,1]
testdata_normalized_standard['FIRE_SIZE']=testdata_standard[:,2]
testdata_normalized_standard['FIPS_NAME']=testdata_standard[:,3]
testdata_normalized_standard['FIPS_CODE']=testdata_standard[:,4]
testdata_normalized_standard['SOURCE_REPORTING_UNIT_NAME']=testdata_standard[:,5]
# #
traindata_normalized_minmax.head()

   id  LATITUDE  LONGITUDE  ...  YEAR       DAY  LABEL
0   0  0.671903   0.093396  ...   0.0  0.002732      1
1   1  0.297300   0.903175  ...   0.0  0.002732      4
2   2  0.159798   0.963065  ...   0.0  0.002732      2
3   3  0.186094   0.981225  ...   0.0  0.002732      4
4   4  0.284574   0.189084  ...   0.0  0.002732      2

[5 rows x 12 columns]

In [28]:
traindata_normalized_standard

            id  LATITUDE  LONGITUDE  ...  YEAR       DAY  LABEL
0            0  0.988292  -0.985738  ...   0.0  0.002732      1
1            1 -0.401537   0.925104  ...   0.0  0.002732      4
2            2 -0.911691   1.066427  ...   0.0  0.002732      2
3            3 -0.814128   1.109280  ...   0.0  0.002732      4
4            4 -0.448755  -0.759942  ...   0.0  0.002732      2
...        ...       ...        ...  ...   ...       ...    ...
285377  285377 -0.861658   1.044992  ...   1.0  0.994536      4
285378  285378  1.033020  -1.013967  ...   1.0  0.994536      2
285379  285379 -0.728276   1.053207  ...   1.0  0.994536      2
285380  285380 -0.347139  -0.800244  ...   1.0  0.994536      2
285381  285381 -0.510102  -0.802330  ...   1.0  0.997268      2

[285382 rows x 12 columns]

In [29]:
# adding one hot encoding for training data
# now make one hot encoder from label for the training date
from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(train_df[['LABEL']]).toarray())
# merge with main df bridge_df on key values
traindata_normalized_minmax = traindata_normalized_minmax.join(enc_df)
traindata_normalized_robust = traindata_normalized_robust.join(enc_df)
traindata_normalized_standard = traindata_normalized_standard.join(enc_df)
traindata_normalized_minmax.head()

   id  LATITUDE  LONGITUDE  STATE  DISCOVERY_TIME  ...  LABEL    0    1    2    3
0   0  0.671903   0.093396      1        0.054167  ...      1  1.0  0.0  0.0  0.0
1   1  0.297300   0.903175     -1        0.464583  ...      4  0.0  0.0  0.0  1.0
2   2  0.159798   0.963065     -1        0.666667  ...      2  0.0  1.0  0.0  0.0
3   3  0.186094   0.981225     -1        0.506250  ...      4  0.0  0.0  0.0  1.0
4   4  0.284574   0.189084      1        0.549583  ...      2  0.0  1.0  0.0  0.0

[5 rows x 16 columns]

In [30]:
testdata_normalized_robust.head()

       id  LATITUDE  LONGITUDE  ...  SOURCE_REPORTING_UNIT_NAME      YEAR       DAY
0  285382  0.040542  -0.033993  ...                    0.082192  1.058824  0.002732
1  285383 -0.022881   0.000053  ...                    0.534247  1.058824  0.002732
2  285384  0.763356  -0.110444  ...                   -0.328767  1.058824  0.002732
3  285385 -0.318173   0.874964  ...                    2.054795  1.058824  0.005464
4  285386 -0.235637   0.032081  ...                   -0.191781  1.058824  0.005464

[5 rows x 11 columns]

In [31]:
# put it together in a dataframe and save
from google.colab import  drive

def save_csv(df, savestr):
  df.to_csv('/drive/My Drive/CS155_miniproject_1/'+str(savestr)+'.csv')
drive.mount("/drive", force_remount=True)
# save results of normalizing and onehot encoding
save_csv(traindata_normalized_minmax, 'traindata_imputed_normalized_minmax')
save_csv(traindata_normalized_robust, 'traindata_imputed_normalized_robust')
save_csv(traindata_normalized_standard, 'traindata_imputed_normalized_standard')
save_csv(testdata_normalized_minmax, 'testdata_imputed_normalized_minmax')
save_csv(testdata_normalized_robust, 'testdata_imputed_normalized_robust')
save_csv(testdata_normalized_standard, 'testdata_imputed_normalized_standard')

Mounted at /drive